<!DOCTYPE html>
<html ng-app="MVLDApp">
    <head>
        <meta charset="UTF-8"/>
        <title>MVLD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js"></script>
        <script src="./MVLDController.js"></script>
    </head>

    <body ng-controller="MVLDController" ng-cloak>
        

        <section class="pic-view-module">

            <div class="prev-transparency" ng-click="slide(-1)"></div>
            <div class="next-transparency" ng-click="slide(1)"></div>

            
            <section class="picture-containers">

                <div class="img-container" ng-repeat="source in picSources" ng-class="{'shift-left': source.shiftedLeft, 'shift-right': source.shiftedRight}">
                    <img src="{{source.name}}">
                </div>

            </section>

        </section>
    

        <section class="hidden-container">
            <img ng-repeat="source in allNames" class="hidden-images" src="{{source}}">
        </section>
        
    </body>
</html>