/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
.pika-thumbs li {width: 180px; height:135px;}
.pika-thumbs-custom li {width: 140px; height:152px;}
.pika-stage {height: 610px; width: 812px;}
.pika-stage-custom {height: 610px; width: 470px;}
#pikame {width: 180px;}

body {font-family: Helvetica, sans-serif; text-align: center; margin: 0px}
a {color:white;}
.pikachoose {width: 1025px; margin: 0px; position: relative; text-align: left;}
.pikachoose-custom {width: 683px; margin: 0px; position: relative; text-align: left;}
.pika-stage {position: relative; top: 0px; left: 0px;}
	
#header-wrap {width: 100%; position: relative; z-index: 2; top: 3%;}
#header-container {height: 70px;}
#header {width: 1100px; margin: 0 auto; position: relative;}

#bannertest {position: relative; top: 11px;}

#container {position: relative; margin-top: 25px; margin-left: auto; margin-right:auto; width: 1000px;}
#custom-container {position: relative; margin-top: 25px; margin-left: auto; margin-right:auto; width: 706px; overflow: hidden; right: -25px;}
#footer-wrap {width: 100%; position: fixed; z-index: 3; bottom: 0; left: 0; padding-top: 14px; padding-bottom: 22px;}
#footer {display: flex; margin-left: auto; margin-right: auto; background: white; width: 884px;}
#footer a {margin-left: 17px; margin-right: 17px; height: 31px;}

#ethoswords{margin-top: 14px;}
#feather {margin-top: 17px;}
#mvl {margin-top: 24px; width: 480px; height: 370px;}
#aztec {width: 550px; margin-top: 18px;}
#instagram {height: 50px; margin-top: 17px;}
#phone {height: 20px; margin-top: 18px;}
#email {height: 22px; margin-top: 21px;}
#address {height: 18px; margin-top: 26px;}

#index-header-wrap {width: 100%; position: relative; z-index: 2; top: 3%;}
#index-header-container {height: 70px;}
#index-header {width: 1025px; margin: 0 auto; position: relative;}
#splash {top: 0px; left: 0px; width: 100%; position: fixed; top: 15%; z-index: 1;}


/*if you change the padding on pika-stage you must adjust the top left of this to match!*/
	.pika-stage .main-image {position: absolute;}
	.pika-stage .pika-aniwrap {position: absolute;}
	.pika-stage img {position: absolute;}

.pika-imgnav a {position: absolute; display: block;}
	.pika-imgnav a.up {background: url(graphics/up.png) no-repeat 50%; height: 5%; width: 19px; top: 263px; right: -250px;}
	.pika-imgnav a.down {background: url(graphics/down.png) no-repeat 50%; height: 5%; width: 19px; top: 320px; right: -250px;}

.pika-imgnav-custom a {position: absolute; display: block;}
	.pika-imgnav-custom a.up {background: url(graphics/up.png) no-repeat 50%; height: 5%; width: 19px; top: 263px; right: -11px;}
	.pika-imgnav-custom a.down {background: url(graphics/down.png) no-repeat 50%; height: 5%; width: 19px; top: 320px; right: -11px;}
	
.pika-thumbs {overflow: hidden; width:180px; position: absolute;}
	.pika-thumbs li .clip {position: relative; height: 100%; overflow: hidden;}

.pika-thumbs-custom {overflow: hidden; width:140px; position: absolute;}
	.pika-thumbs-custom li .clip {position: relative; height: 100%; overflow: hidden;}

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika {position: absolute; top: 0px; right: 9px;}
.jcarousel-skin-pika .jcarousel-container-vertical { width: 180px; height: 610px; overflow: hidden;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width: 180px; height: 610px; overflow: hidden;}
.jcarousel-skin-pika .jcarousel-item-vertical { margin-bottom: 25px;}